$jumbotron-bg-color: #F7F7F7;
$detail-bg-color: #272727;

.home{
  #jumbotron{
    background-color: $jumbotron-bg-color;
    padding-top: 25px;
    height: 455px;
    text-align: center;

    #main-logo{
      margin: auto;
      width: 125px;
      height: 150px;
    }

    #tag-line{
      margin-top: 20px;
    }
  }

  section{
    background-color: $detail-bg-color;
    padding-top: 5px;
  }

  .detail-wrapper{
    background-color: $detail-bg-color;
  }
}
