$jumbotron-bg-color: $topbar-bg-color;

.home{
  #jumbotron{
    background-color: $jumbotron-bg-color;
    padding-top: 25px;
    height: 460px;
    text-align: center;

    #main-title{
      color: #F7F7F7;
    }

    #main-logo{
      margin: auto;
      width: 125px;
      height: 150px;
      border: 1px solid red;
    }

    #tag-line{
      margin-top: 10px;
      color: #3B453D;
    }
  }
}
