body{
  min-width: 320px;
  min-height: 480px;

  .white{
    color: #F7F7F7;
  }

  .container{
    display: block;
  }

  .logo{
    background-image: url(/assets/csi-logo.png);
  }

  .full-width{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;    
  }

  .top-bar-wrapper{
    border-bottom: 1px solid #3B453D;
  }

  footer{
    background-color: $topbar-bg-color;
    
    a {
      color: $body-font-color;
  
      &:hover {
        color: $body-font-color;
        text-decoration: underline; 
      }
    }
    ul{
      list-style: none;
      padding-left: 0;
    }

    #copyright{
      p{
        font-size: 0.75em; 
      }
    }
  }
}
