<p><h3> Navigation </h3></p>
<ul>
	<li> <%= link_to 'Home', root_path %> </li>
	<li> <%= link_to 'Projects', projects_path %> </li>
	<li> Events </li>
	<li> Competitions </li>
	<li> About us </li>
</ul>